body {
  font-family: Montserrat, sans-serif;
}

@font-face {
  font-family: "Asher Punk";
  src: local("AsherPunk"),
    url("./fonts/Asher Punk/Asher Punk.ttf") format("truetype");
}

.App {
  display: flex;
  align-items: center;
}

/* LANDING PAGE */

/* Top Section --------------- */

/* Navbar */

.navbar {
  display: flex;
  width: 92.5%;
  justify-content: space-between;
  align-items: center;
}
.navbar>div.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.navbar>div.menu-btn>.hamburger-menu {
  width: 50px;
  height: 6px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;

  margin: 16px auto;
}
.navbar>div.menu-btn>.hamburger-menu::before,
.navbar>div.menu-btn>.hamburger-menu::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.navbar>div.menu-btn>.hamburger-menu::before {
  transform: translateY(-16px);
}
.navbar>div.menu-btn>.hamburger-menu::after {
  transform: translateY(16px);
}

.navbar>a>button.buy-tickets {
  display: flex;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;

  border-radius: 60px;
  background: linear-gradient(90deg, #FF34B3 0%, #F2A900 100%);
  color: #FFF;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
/* ------ */

/* Top Section Content  */

.top-section {
  padding-top: 48px;
  background: linear-gradient(180deg, #2011A2 0%, rgba(0, 0, 0, 0.00) 77%), #201148;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 80px;
}

.title-section>h1 {
  font-family: "Asher Punk";
  font-size: 118px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);
  color: #fff;
  font-weight: 400;
}

.title-section>.title-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-section>.title-info>h2 {
  background: linear-gradient(90deg, #FF34B3 0%, #F2A900 100%);
  background-clip: text;
  color: transparent;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.header-image {
  overflow: hidden;
  padding-top: 36px;
  width: 100vw;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* ------ */