/* // https://piccalil.li/blog/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--sky-blue-color);
  font-size: var(--font-size-300);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Asher Punk";
  src: local("AsherPunk"),
    url("./fonts/Asher Punk/Asher Punk.ttf") format("truetype");
}

:root {
  /* color palette */
  --sky-blue-color-hsl: 188, 100%, 67%;
  --neon-blue-color-hsl: 246, 81%, 35%;
  --russian-violet-color-hsl: 256, 62%, 17%;
  
  
  --sky-blue-color: hsl(var(--sky-blue-color-hsl));
  --vivid-sky-blue-color: #00ccfd;
  --persian-rose-color: #ff34b3;
  --neon-blue-color: hsl(var(--neon-blue-color-hsl));
  --russian-violet-color: hsl(var(--russian-violet-color-hsl));
  --american-yellow-color: #f2a900;

  /* color gradients  */
  --russian-violet-to-neon-blue: linear-gradient(var(--russian-violet-color), var(--neon-blue-color));
  --neon-blue-to-russian-violet: linear-gradient(var(--neon-blue-color), var(--russian-violet-color));

  --persian-rose-to-american-yellow: linear-gradient(var(--persian-rose-color) -10%, var(--american-yellow-color));
  --american-yellow-to-persian-rose: linear-gradient(180deg, var(--persian-rose-color) -10%, var(--american-yellow-color));

  --horizontal-persian-rose-to-american-yellow: linear-gradient(90deg, var(--persian-rose-color) -10%, var(--american-yellow-color));
  --horizontal-american-yellow-to-persian-rose: linear-gradient(270deg, var(--persian-rose-color) -10%, var(--american-yellow-color));

  /* font weights  */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* font sizes  */
  --font-size-300: clamp(0.875rem, 0.5036rem + 1.5238vw, 1.875rem);
  --font-size-400: clamp(1.125rem, 0.6143rem + 2.0952vw, 2.5rem);
  --font-size-500: clamp(1.375rem, 0.6786rem + 2.8571vw, 3.25rem);
  --font-size-900: clamp(2.625rem, 1.5107rem + 4.5714vw, 5.625rem);
}