/* // https://piccalil.li/blog/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Asher Punk";
  src: local("AsherPunk"),
    url("./fonts/Asher Punk/Asher Punk.ttf") format("truetype");
}

:root {
  /* color palette */
  --sky-blue-color: #55e7ff;
  --vivid-sky-blue-color: #00ccfd;
  --persian-rose-color: #ff34b3;
  --neon-blue-color: #2011a2;
  --russian-violet-color: #201148;
  --american-yellow-color: #f2a900;

  /* color gradients  */
  --russian-violet-to-neon-blue: linear-gradient(var(--russian-violet-color), var(--neon-blue-color));
  --neon-blue-to-russian-violet: linear-gradient(var(--neon-blue-color), var(--russian-violet-color));
  
  --persian-rose-to-american-yellow: linear-gradient(var(--persian-rose-color), var(--american-yellow-color));
  --american-yellow-to-persian-rose: linear-gradient(var(--american-yellow-color), var(--persian-rose-color));

  --horizontal-persian-rose-to-american-yellow: linear-gradient(90deg, var(--persian-rose-color), var(--american-yellow-color));
  --horizontal-american-yellow-to-persian-rose: linear-gradient(90deg, var(--american-yellow-color), var(--persian-rose-color));

  /* font weights  */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

.bg-primary-1 {
  background: var(--neon-blue-to-russian-violet);
}

.bg-primary-2 {
  background: var(--russian-violet-to-neon-blue);
}

.bg-secondary {
  background-color: var(--sky-blue-color);
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}